:root {
  --terracotta: #fcdaca;
  --rust: #dc7a60;
  --pig: #fcb09c;
  --dung: #9f6657;
}

/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, sans-serif;
}

body {
  background-color: var(--terracotta);
  font-family: "Urbanist";
}

h1,
h2,
h3 {
  font-family: "Rubik Dirt";
}

/* Header/Banner Styles */
.header {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  position: fixed;
  z-index: 10;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.nav-list a:hover {
  color: var(--rust);
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner img.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.logo {
  width: 500px;
  height: 500px;
  margin-bottom: 2rem;
}

.date {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  border-top: white 2px solid;
  border-bottom: white 2px solid;
  padding-block: 1rem;
  padding-inline: 0;
}

.tagline {
  font-size: 2rem;
  letter-spacing: 1px;
}

/* Schedule Styles */
#schedule {
  width: 100%;
}

.schedule-grid {
  display: grid;
  gap: 1rem;
  margin: 2rem;
  grid-template-columns: repeat(1fr 1fr 1fr);
  grid-template-rows: repeat(1fr 1fr 1fr 1fr);
  grid-template-areas:
    "tuesday tuesday entertainment"
    "thursday thursday entertainment"
    "friday friday entertainment"
    "saturday saturday saturday";
}

.schedule-title {
  font-size: 4rem;
  font-weight: bold;
  margin-inline: 2rem;
  padding-top: 4rem;
}

.schedule-day {
  padding: 1.5rem;
}

.tuesday {
  background-color: var(--rust);
  grid-area: tuesday;
}

.thursday {
  background-color: var(--dung);
  grid-area: thursday;
}

.friday {
  background-color: var(--rust);
  grid-area: friday;
}

.saturday {
  background-color: var(--dung);
  grid-area: saturday;
}

.schedule-day h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.schedule-day h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.schedule-day p {
  margin-bottom: 1rem;
  line-height: 1.4;
}

.entertainment {
  background: var(--pig);
  grid-area: entertainment;
}

.entertainment h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.event {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.event-time {
  flex: 0 0 80px;
  margin-right: 3rem;
  font-weight: bold;
}

.event-info {
  flex: 1;
}
