:root {
  --terracotta: #fcdaca;
  --rust: #dc7a60;
  --dark-rust: #874b3a;
  --pig: #fcb09c;
  --dung: #9f6657;
  --dark-brown: #250902;
}

/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--terracotta);
  font-family: "Urbanist";
}

h1,
h2,
h3 {
  font-family: "Rubik Dirt";
  font-weight: 500;
}

/*  */
/* HOME */
/*  */

.header {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  position: fixed;
  z-index: 10;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.nav-list a:hover {
  color: var(--rust);
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner img.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.logo {
  max-height: 75%;
  padding: 1rem;
}

.date {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  border-top: white 2px solid;
  border-bottom: white 2px solid;
  padding-block: 1rem;
  padding-inline: 0;
}

.tagline {
  font-size: 2rem;
  letter-spacing: 1px;
}

/*  */
/* SCHEDULE */
/*  */

#schedule {
  width: 100%;
}

.schedule-grid {
  display: grid;
  gap: 1rem;
  margin: 2rem;
  grid-template-columns: repeat(1fr 1fr 1fr);
  grid-template-rows: repeat(1fr 1fr 1fr 1fr);
  grid-template-areas:
    "tuesday tuesday entertainment"
    "thursday thursday entertainment"
    "friday friday entertainment"
    "saturday saturday saturday";
}

.schedule-title {
  font-size: 4rem;
  margin-inline: 2rem;
  padding-top: 4rem;
}

.schedule-day {
  padding: 1.5rem;
}

.tuesday {
  background-color: var(--rust);
  grid-area: tuesday;
}

.thursday {
  background-color: var(--dung);
  grid-area: thursday;
}

.friday {
  background-color: var(--rust);
  grid-area: friday;
}

.saturday {
  background-color: var(--dung);
  grid-area: saturday;
}

.schedule-day h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.schedule-day h3 {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.schedule-day p {
  margin-bottom: 1rem;
  line-height: 1.4;
}

.entertainment {
  background: var(--pig);
  grid-area: entertainment;
}

.entertainment h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.event {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.event-time {
  flex: 0 0 80px;
  margin-right: 3rem;
}

.event-info {
  flex: 1;
}

/*  */
/* REGISTRATION */
/*  */

#registration {
  padding: 2rem;
}

#registration h1 {
  font-size: 4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#registration-grid {
  display: grid;
  grid-template-columns: repeat();
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

#registration a {
  text-decoration: none;
  position: relative;
  display: block;
}

.card {
  background-color: var(--rust);
  padding: 2rem;
  color: white;
  font-size: 25px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.card:hover {
  color: white;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
  transition: background 0.3s ease;
}

.card:hover::before {
  background: rgba(0, 0, 0, 0.8);
}

.card h2, .card p {
  position: relative;
  z-index: 1;
}

#hog-card {
  grid-column: 1 / 3;
  grid-row: 1 / 5;
  height: 400px;
  background-image: url(Images/hog-callin.jpg);
  background-size: cover;
  background-position: center;
}

#vendor-card {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
  background-image: url(Images/vendor.jpg);
  background-size: cover;
  background-position: center;
}

#sponsor-card {
  grid-column: 3 / 5;
  grid-row: 3 / 5;
  background-image: url(Highlights/header.jpg);
  background-size: cover;
  background-position: center;
}

#registration a:hover {
  background-color: black;
}

/*  */
/* SPONSORS */
/*  */

#sponsors {
  margin: 2rem;
}

#sponsors img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

#sponsors h3 {
  font-size: 4rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.sponsor-grid {
  display: grid;
  grid-template-columns: repeat(1fr 1fr 1fr 1fr 1fr);
  grid-template-rows: repeat(1fr 1fr 1fr 1fr 1fr);
  gap: 1rem;
  place-items: center;
}

.presenting-sponsor {
  grid-column: 1 / 6;
  grid-row: 1;
}

.sponsor-images {
  grid-column: 1 / 6;
  grid-row: 2 / 4;
}

.sponsor-list {
  line-height: 1.5rem;
  align-content: center;
  min-height: 300px;
}

#sponsor-list1 {
  background-color: var(--rust);
  padding: 2rem;
}

#sponsor-list2 {
  background-color: var(--pig);
  padding: 2rem;
}

#sponsor-list3 {
  background-color: var(--dung);
  padding: 2rem;
}

#sponsor-list4 {
  background-color: var(--pig);
  padding: 2rem;
}

#sponsor-list5 {
  background-color: var(--rust);
  padding: 2rem;
}

/*  */
/* HIGHLIGHTS */
/*  */

#highlights {
  padding: 2rem;
}

#highlights h1 {
  font-size: 4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#highlights img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.highlights-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  place-items: center;
}

#pic1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

#pic2 {
  grid-column: 3;
  grid-row: 1;
}

#pic3 {
  grid-column: 4;
  grid-row: 1;
}

#pic4 {
  grid-column: 3;
  grid-row: 2;
}

#pic5 {
  grid-column: 4;
  grid-row: 2;
}

.bbq-video {
  grid-column: 1 / 5;
  grid-row: 3 / 5;
}

/*  */
/* FOOTER */
/*  */

footer {
  background-color: var(--dark-brown);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer ul{
    display: flex;
    list-style: none;
    padding: 1rem;
    align-items: center;
}

footer ul li {
  padding-right: 1rem;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: white;
}

footer img {
  height: 30px;
}

footer p {
  padding: 1rem;
  color: white;
}

/*  */
/* REGISTRATION PAGES */
/*  */

.registration-page {
  font-family: "Urbanist", system-ui, -apple-system, sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-container {
  max-width: 600px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.registration-container h1 {
  font-family: "Rubik Dirt";
  text-align: center;
  color: #3b3b3b;
  margin-bottom: 15px;
}

.registration-container p {
  font-family: "Urbanist";
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

#vendor-type, #vendor-spaces, #insurance-upload, input[type="date"], #sponsor-level, #sponsor-logo {
  padding: 6px;
  margin-bottom: 15px;
}

textarea {
  resize: vertical;
}

#amount-due {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-container input {
  margin-right: 10px;
}

.checkbox-container label {
  font-size: 14px;
  color: #555;
}

button {
  width: 100%;
  padding: 15px;
  background-color: var(--rust);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--dark-rust);
}

.form-info a, .footer-note a {
  color: var(--rust);
}

.form-info a:hover, .footer-note a:hover {
  font-weight: 600;
}

.footer-note {
  text-align: center;
  font-size: 16px;
  color: #777;
  margin-top: 30px;
}